
 
@media print {
    .container{
        padding: 5px;
        border: 1px solid black;
        width: 200px;
        text-align: center;
    }
    dl{
        display: grid;
        grid-template-columns: 12fr
    }
    dd{
        line-height: 25px;
    }
    img,button,h2{
        display: none;
    }
}
